body {
    max-width: 920px;
    color: #343434;
    text-transform: uppercase;
    font-size: 14px;
    background: url("../images/bg-body.gif") repeat #E6E4D7;
}
.top-line /*header div:first-child */{
    height: 7px;
    background: url("../images/line-top.gif") repeat-x ;
    //position: absolute;
    //width: 9999px;
    margin-left: -1000px;
    margin-right: -1000px;
}
header nav>a {
    float: left;
}