body.container-fluid {
    color: #343434;
    text-transform: uppercase;
    font-size: 14px;
    background: url("../images/bg-body.gif") repeat /*#E6E4D7*/;
    padding-left: 0px;
    padding-right: 0px;
}
.top-line /*header div:first-child */{
    height: 7px;
    background: url("../images/line-top.gif") repeat-x ;
}
.active-background-list-item {
    background: url("../images/tail-item.gif") repeat  ;
    box-shadow: 0px 1px 3px #c5c2a9 inset;
    color: #D53827 !important;
}
header{
    padding-top: 20px;
    background: url("../images/tail-header.gif") repeat  ;
    li.active{
        .active-background-list-item;
        border-radius: 5px;
        a {
            color: inherit !important;
            background-color: inherit !important;
        }
    }
    li>a:hover{
        .active-background-list-item;
    }
    nav>a {
        float: left;
    }
    ul{
        li + li{
            padding-left: 3px;
        }
        a{
            color: inherit !important;
        }
    }
}