body.container-fluid {
    color: #343434;
    text-transform: uppercase;
    font-size: 14px;
    background: url("../images/bg-body.gif") repeat /*#E6E4D7*/;
    padding-left: 0px;
    padding-right: 0px;
    font-family: "PT Serif Cation",serif;
}
a,
a:hover,
a:active,
a:visited{
    text-decoration: none !important;
    color: inherit;
}
.top-line /*header div:first-child */{
    height: 7px;
    background: url("../images/line-top.gif") repeat-x ;
}
.active-design-list-item-rule {
    background: url("../images/tail-item.gif") repeat  ;
    box-shadow: 0px 1px 3px #c5c2a9 inset;
    border-radius: 5px;
}
.transition-rule(@time:0.3s) {
    -webkit-transition: all @time ease;
	-moz-transition: all @time ease;
	-o-transition: all @time ease;
	transition: all @time ease;
}
header{
    padding-top: 20px;
    background: url("../images/tail-header.gif") repeat  ;
    li.active{
        .active-design-list-item-rule;
        a {
            color: #D53827 !important;
            background-color: inherit !important;
        }
    }
    li>a:hover{
        color: #D53827 !important;
    }
    ul.nav>li:hover , li>a:hover{
        .active-design-list-item-rule;
        .transition-rule;
    }
    li>a:hover + ul.dropdown-list ,
    ul.dropdown-list:hover {
        visibility: visible;
        .active-design-list-item-rule;
        .transition-rule(0.7s);
        opacity: 1;
    }
    nav>a {
        float: left;
    }
    .dropdown-list{
        top: 43px;
        list-style-type:none;
        padding: 0px;
        padding-right: 10px ;
        min-width: 121px;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        .transition-rule(0.1s);
    }
    ul{
        li + li{
            padding-left: 3px;
        }
        a{
            color: inherit !important;
        }
    }
    nav:first-child{
        height: auto;
        padding-bottom: 20px;
    }
   .dropdown-list li{
        padding-left: 14px;
    }
    .fa-bars{
        font-size: 35px !important;
        margin-right: 15px;
        cursor: pointer;
        .transition-rule;
    }
}
.button{
    text-align: center;
    font-style: italic;
    color: #FFF !important;
    background-color: #DB3222;
    padding: 10px 16px;
    box-shadow: 0px 1px 2px #c5c2a9;
    height: auto;
    .transition-rule;
    font-weight: 700;
}
.button:hover{
    color: #FFF;
    background-color: #343434;
}
.hidden-menu{
    list-style-type:none;
    padding: 0px;
    height: 0px;
    opacity: 0;
    .transition-rule;
}